@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.5.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.5.0-beta.4/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.5.0-beta.4/css/lg-fullscreen.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.show-more {
  text-decoration: underline;
  cursor: pointer;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #63A375; /* #7A6C5D */
}

h1 {
  color: #4C212A; /* #3d696a */
}

.lg-outer * { /* für die lightbox damit sich die Bilder dort nicht verschieben */
  text-align: initial;
}

.lg-outer img, .lg-outer video {
  margin: 0 0 0 0;
}

.lg-outer video {
  max-width: unset !important;
  max-height: unset !important;
}

.lg-sub-html { /* für die lightbox damit sich die Bilder dort nicht verschieben */
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}

.datum {
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

img, video {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
  max-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 800px) {
  img, video {
    max-width: 80%;
  }
}

p {
  margin: 0 30px 30px 30px;
  max-width: 600px;
}

a {
  color: unset;
}

h2, h3, h4, h5 {
  max-width: 600px;
}

.hidden {
  display: none;
}