<div class="container" style="background-color: #138d2d; color: #070e28;">

    <div class="post-header">
        <h3>Aschaffenburg Hbf</h3>
        <h5 class="datum">01.08.2022</h5>
    </div>

    <img class="mklbItem show-more-tooltip" src="assets/images/Muenchen_22-07-2022.jpeg" data-gallery="gallery-test" title="Klick mich für mehr Bilder :)">
    <img class="mklbItem hidden" src="assets/images/july-thirty-1_Moment.jpg" data-gallery="gallery-test">
    <img class="mklbItem hidden" src="assets/images/july-thirty-1_Moment-2.jpg" data-gallery="gallery-test">
    <img class="mklbItem hidden" src="assets/images/july-thirty-1_Moment_3.jpg" data-gallery="gallery-test">

    <p>

        Heute war ich nochmal beim Friseur, um mir einen luftigen und praktischen Haarschnitt verpassen zu lassen. Jetzt kann es losgehen... Ist ja auch nicht mehr lange hin, denn in zwei Tagen werde ich schon aufbrechen. Erst mit dem Zug nach Frankfurt und dann mit dem Flieger nach Vancouver. Die Vorfreude steigt! Ich mache mich jetzt mal ans Rucksack packen.

    </p>

</div>