<div class="container" style="background-color: #336699; color: #E0E0E2;">

    <div class="post-header">
        <h3>Riemerling</h3>
        <h5 class="datum">30.07.2022</h5>
    </div>

    <lightgallery>

        <a data-sub-html='' href='assets/images/july-thirty-1_Moment_4.jpg'><img src='assets/images/july-thirty-1_Moment_4.jpg' /></a>

    </lightgallery>

    <p>

        Heute war ich nochmal beim Friseur, um mir einen luftigen und praktischen Haarschnitt verpassen zu lassen. Jetzt kann es losgehen... Ist ja auch nicht mehr lange hin, denn in zwei Tagen werde ich schon aufbrechen. Erst mit dem Zug nach Frankfurt und dann mit dem Flieger nach Vancouver. Die Vorfreude steigt! Ich mache mich jetzt mal ans Rucksack packen.

    </p>

</div>