<div class="container" style=" background-color: #DC965A; color: #27233A;">

    <div class="post-header">
        <h3>München</h3>
        <h5 class="datum">22.07.2022</h5>
    </div>

    <img class="mklbItem" src="assets/images/Muenchen_22-07-2022.jpeg">

    <p>

        Ich sitze gerade in München an meinem Schreibtisch. In einer knappen Woche beginnt meine viermonatige Reise durch Nord- und Südamerika. Ich überlege mir, ob und wie ich diese Reise dokumentieren soll. Eine Möglichkeit wäre es, meinen Instagram-Account zu verwenden, welchen ich zwar vor Jahren angelegt, aber noch nie auch nur ein einziges Bild hochgeladen habe. Vielleicht mache ich das auch noch, aber fürs Erste habe ich mich entschieden, eine Art kleinen Reiseblog ins Leben zu rufen. Mein Ziel ist es, auf dieser Seite in regelmäßigen Abständen ein paar Bilder und Worte festzuhalten, und gleichzeitig meiner Kreativität freien Lauf zu lassen, indem ich mich bei den Inhalten und auch bei der Gestaltung des Blogs austobe. Allerdings muss ich mal sehen, wie groß meine Disziplin dann ist, das auch in die Tat umzusetzen. Denn schließlich soll die Reise selbst im Vordergrund stehen.

    </p>

</div>